.header{
    padding: 36px 0;
}


.wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--base)/2) var(--base);
    align-items: center;


}

.logo{
    width: 170px;
}
.hide {
    display: none;
}